@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
    --primary: #3a31c8;
    --tertiary: #262085;
    --secondary: #ffc940;
}

@theme inline {
    --color-primary: var(--primary);
    --color-tertiary: var(--tertiary);
    --color-secondary: var(--secondary);
}

body {
    font-family: 'Poppins', sans-serif;
}

.ribbon-shape {
    clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
}